body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.menu{
    height: 100vh;
    width: 40vw;
    background: bisque;
    position: fixed;
    top: 0;
    left: -90vw;
    transition: left 0.3s;
    box-shadow: 10px 0px 21px -10px rgba(0,0,0,0.75);
    z-index: 10;
}

a {
    text-decoration: none;
    color: black;
}

.menu-button i.material-icons{
    font-size: 2.5rem;
}

.show{
    left: 0vw;
}

.fade-layer{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: none;
    z-index: 5;
}

.fade-layer.visible{
    display: block;
}

.carousel {
    position: relative;
    width: 100%;
    height: 100%;
    height: 100%;
    /* display: grid;
    align-items: center;
    justify-content: center; */
    /* object-position: center; */
    display: grid;
    /* align-items: center; */

  }

.carousel img {
    position: absolute;
    width: 100%;
    height: 100%;
    align-self: center;
    justify-self: center;



}

.carousel button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    color: white;
    font-size: 32px;
    cursor: pointer;
    z-index: 20 ;

  }
  
  .carousel .prev {
    left: 20px;
  }
  .carousel .next {
    right: 20px;
  }

  .building_top{
    align-self: end;
    width: 100%;

  }

  #pillar1{
    /* justify-self: left; */
    height: 100%;
    width: 30%;
    position: absolute;
    z-index: 10;
    right: -5vh;
  }

  #pillar2{
    
    /* justify-self: right; */
    height: 100%;
    width: 30%;
    position: absolute;
    z-index: 10;
    left: -5vh;
  }

/*
TELEFONSKÄRM            ----------------------------------------------------------------------------
*/

@media screen and (max-width: 600px) {

    .wrapper{
        display: grid;
        grid-template-rows: 5vh 85vh 65vh 30vh 30vh 30vh 20vh;
        grid-template-columns: 100%;
        height: 100%;
        width: 100%;
        grid-template-areas:
        'nav'
        'hd'
        'mn'
        'pf1'
        'pf2'
        'pf3'
        'ft'

    }

    main {

        grid-area: mn;
        margin: 0px;
        display: grid;
        position: relative;

    }


    header {

        grid-area: hd;
        text-align: center;
        margin: 0px;
        object-position: center;
        background-image: url(../img/saint_pierre.jpg);
        background-size: cover;
        display: grid;
        justify-content: center;
        object-fit: contain;

        

    }

    nav {

        grid-area: nav;
        margin: 0px;
        object-position: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0px 5px;
        align-items: center;


    }

    aside{
        grid-area: as;
        background-color: bisque;
        display: none;

    }

    .profile_img{

        width: 10vh;
        height: 10vh;
    }

    #profile1 {

        grid-area: pf1;

        margin: 0px;
        object-position: center;
        display: grid;
        align-items: center;
        /* flex-direction: row;
        justify-content: space-between; */
        padding: 0px 5px;

    }

    #profile2 {

        grid-area: pf2;

        margin: 0px;
        object-position: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0px 5px;

    }

    #profile3 {

        grid-area: pf3;

        margin: 0px;
        object-position: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0px 5px;

    }

    body{

        background-color: blanchedalmond;
        font-size: small;
        color: burlywood;
        height: auto;

    }
    
}


@media screen and (min-width: 601px) {

    body{

        background-color: navajowhite;
        font-size: large;
        color: saddlebrown;
        height: auto;

    }

    .wrapper{
        display: grid;
        grid-template-rows: 10% 90%;
        grid-template-columns: 20% 80%;
        height: 100%;
        width: 100%;
        grid-template-areas:
        'hd hd'
        'as mn'

    }

    main {

        grid-area: mn;
        text-align: left;
        margin: 0px;
        object-position: top;
                padding: 0px 20px;

    }

    nav {

        grid-area: nav;
        text-align: center;
        margin: 0px;
        object-position: center;
        background-color: burlywood;

    }
    

    header {

        grid-area: hd;
        text-align: center;
        margin: 0px;
        object-position: center;
        background-color: burlywood;

    }

    aside{
        grid-area: as;
        background-color: antiquewhite;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }

    

        .menu-button{
            cursor: pointer;
            display: none;
        }
        


    }

