body{

  background-color: #10100e;
  font-size: small;
  height: auto;
  overflow-x: hidden;
  margin: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}

h1 {

    color: black;

}

.main_color{

    color: #10100e;

}

.secondary_color{

    color: #2c2c2c;
}

.menu{
    height: 100vh;
    width: 30vw;
    background: #2c2c2c;
    position: fixed;
    left: -100vw;
    transition: left 0.5s;
    box-shadow: 10px 0px 21px -10px rgba(0,0,0,0.75);
    z-index: 29;
    box-shadow: none;
    font-size: large;
}
a {
    text-decoration: none;
    color: black;
}

.menu-button i.material-icons{
    font-size: 2.5rem;
}

.show{
    left: 0vh;
}

.fade-layer{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 28;
    animation: fadeIn 0.5s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

.fade-layer.visible{
    display: block;
}



.carousel-container {
    width: 80%;
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: var(--lx-gap);
    object-fit: contain;
  
    .carousel {
      /* aspect-ratio: 16/9; */
      width: 100%;
      height: 300px;
      position: relative;
      object-fit: contain;
  
      .item {
        opacity: 0;
        width: 100%;
        height: 100%;
        display: none;
        transition: opacity 0.5s ease-in-out;
  
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
  
        .caption {
          width: 100%;
          padding: var(--lx-space-01);
          position: absolute;
          bottom: 0;
          text-transform: uppercase;
          text-align: center;
          font-size: 12px;
          background-color: rgba(0, 0, 0, 0.5);
        }
  
        &.active {
          opacity: 1;
          display: block;
        }
      }
    }
  
    .btn {
      padding: 1em 2em;
      position: absolute;
      transform: translateY(-50%);
      top: 50%;
      outline: none;
      border: none;
      cursor: pointer;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 900;
      color: #10100e;
      background-color: #ffffe6;
      transition: transform 0.2s ease-in-out;
      z-index: 25;
  
      &:active,
      &:focus {
        transform: translateY(-50%) scale(0.9);
      }
  
      &:hover {
        transform: translateY(-50%) scale(1.1);
      }
    }
  
    .prev {
      left: 5%;
    }
  
    .next {
      right: 5%;
    }
  
    .dots {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
  
      .dot {
        cursor: pointer;
        height: 10px;
        width: 10px;
        background-color: #242421;
        transition: background-color 0.2s ease;
  
        &.active,
        &:hover {
          background-color: #ffffe6;
        }
      }
    }
  }
/* .carousel {
    position: relative;
    width: 100%;
    height: 100%;
    /* display: grid;
    align-items: center;
    justify-content: center; */
    /* object-position: center; */
    /* display: grid; */
    /* align-items: center; */
    /* position: absolute;
    align-content: center;
    justify-content: center; */


/* } */
/* 
.carousel img {
    height: 45vh;
    width: 100vw;
    position: relative; */

/* } */

/* .carousel button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    color: white;
    font-size: 32px;
    cursor: pointer;
    z-index: 20 ;

  } */
  
  /* .carousel .prev {
    left: 20px;
  }
  .carousel .next {
    right: 20px;
  }

  .nekst{

    left: 200vh; */
/* 
  } */
  .building_top{
    align-self: end;
    width: 100vw;
    height: 25vh;
    z-index: 5;



  }

  #pillar1{
    /* justify-self: left; */
    height: 100%;
    width: 30vh;
    position: absolute;
    z-index: 10;
    right: -5vh;
  }

  #pillar2{
    
    /* justify-self: right; */
    height: 100%;
    width: 30vh;
    position: absolute;
    z-index: 10;
    left: -5vh;
  }

  .header2{

    background-image: url(../img/threee_statues.jpg);
}

    p, h3, a{
        color: aliceblue;
    }

    nav.p{

        color: #10100e;

    }

    .read_more_button{

      background-color: #10100e;
      padding: 10px;
      width: fit-content;
      border-radius: 5px;
      transition: transform 0.3s;
    }
    .read_more_button:hover{

      transform: scale(1.1)

    }

    .js-scroll {
      opacity: 0;
      transition: opacity 5000ms;
      transition: ease-in 1s;
      position: relative;
      right: 50vw;
    }
    .scrolled {
      left: 0px;
      opacity: 1;

    }

    /* __________________________________________________________________________________ */
    /* DATOR_____________________________________________________________________________ */
    .wrapper {
        display: grid;
        grid-template-rows: 7vh 100vh 55vh 55vh 55vh 55vh 50vh;
        grid-template-columns: 50% 50%;
        height: 100%;
        width: 100%;
        grid-template-areas:
        'nav nav '
        'hd hd'
        'mn mn'
        'bpf bpf'
        'bpf2 bpf2'
        'bpf3 bpf3'
        'ft ft'

    }

    main {

        grid-area: mn;
        margin: 0px;
        display: grid;
        position: relative;
        transition: top 0.5s;
        overflow: hidden;
        object-fit: contain;
        /* background-color: #161616; */

    }



    header {

        grid-area: hd;
        text-align: center;
        margin: 0px;
        object-position: center;
        background-image: url(../img/hmm_rome.avif);
        background-size: cover;
        display: grid;
        justify-content: center;
        object-fit: contain;  
        background-position: center;
    }

    header:after {
        content: "";
        position: absolute;
        object-position: bottom;
        bottom: 0px;
        left: 0px;
        right: 0px;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 1) 70%);
        height: 25%;
        z-index: 1;
      }

    nav {

        grid-area: nav;
        margin: 0px;
        object-position: center;
        /* position: fixed; */
        background-color: #2c2c2c;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0px 5px;
        align-items: center;
        z-index: 26;


    }

    footer{

      background-color: #2c2c2c;
      width: 100vw;
      margin-top: 40px;

    }

    aside{
        grid-area: as;
        background-color: whitesmoke;
        display: none;

    }

    .profile_img{

        width: 50%;
        height: 70%;
        border-radius: 20px;
    }

    .profile_pic {

        grid-area: pf1;

        margin: 30px 60px 30px 60px;
        object-position: center;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        border-radius: 15px;
        background-color: #10100e;


    }

    .profile_text {

        grid-area: bpf;

        margin: 0px;
        object-position: center;
        display: flex;
        flex-direction: column;
        margin-top: 0px;
        justify-content: center;
        padding: 0px 5px;
        width: 60%;

    }

    #big_profile {

        grid-area: bpf;

        margin: 20px 45px;
        object-position: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0px 5px;
        background-color: #161616;
        border-radius: 15px;

    }

    #big_profile2 {

      grid-area: bpf2;

      margin: 20px 45px;
      object-position: center;
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
      text-align: right;
      padding: 0px 5px;
      background-color: #161616;
      border-radius: 15px;

  }

  #reverse{

    align-items: end;

  }

  
  #big_profile3 {

    grid-area: bpf3;

    margin: 20px 45px;
    object-position: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 5px;
    background-color: #161616;
    border-radius: 15px;

  }

    .menu-button{
        cursor: pointer;
        /* display: none; */
    }

    #pillar1{
        /* justify-self: left; */
        height: 100%;
        width: 30%;
        position: absolute;
        z-index: 10;
        right: -5vh;
      }
    
      #pillar2{
        
        /* justify-self: right; */
        height: 100%;
        width: 30%;
        position: absolute;
        z-index: 10;
        left: -5vh;
      }


/*
TELEFONSKÄRM            ----------------------------------------------------------------------------
*/

@media screen and (max-width: 600px) {

    .wrapper{
        display: grid;
        grid-template-rows: 5vh 85vh 45vh 80vh 80vh 80vh 20vh;
        grid-template-columns: 100%;
        height: 200vh;
        width: 100%;
        grid-template-areas:
        'nav'
        'hd'
        'mn'
        'bpf'
        'bpf2'
        'bpf3'
        'ft'

    }

    .menu{

        top: -100vh;
        width: 100vw;
        height: 100vh;
        left: 0vh;
        transition: top 0.5s;

    }


    .show{
        top: 0vh;
    }

    
    .fade-layer{

        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #2c2c2c;
        display: none;
        z-index: 28;
        animation: fadeIn 0.4s;

    }

    


    main {

        grid-area: mn;
        margin: 0px;
        display: grid;
        position: relative;
        overflow-x: hidden;

    }
    


    /* header {

        grid-area: hd;
        text-align: center;
        margin: 0px;
        object-position: center;
        background-image: url(../img/threee_statues.jpg);
        background-size: cover;
        display: grid;
        justify-content: center;
        object-fit: contain;  
    } */

    nav {

        grid-area: nav;
        z-index: 30;
        /* margin: 0px;
        object-position: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0px 5px;
        align-items: center; */


    }

    aside{
        grid-area: as;
        background-color: bisque;
        display: none;

    }

    /* .profile_img{
        width: 85vw;
        height: 25vh;
        border-radius: 10px;
    } */

    #big_profile{

      flex-direction: column;
      align-items: center;
      justify-content: start;


    }
    #big_profile2{

      flex-direction: column;
      align-items: center;
      justify-content: start;
      align-items: left;



    }
    #big_profile3{

      flex-direction: column;
      align-items: center;
      justify-content: start;


    }
    .profile_pic {

        margin: 5% 10% 5% 10%;
        flex-direction: row;
        object-position: left;
        width: 80%;
        height: 50%;
    }

    .profile_img{
      width: 80%;
      height: 90%;
    }

    /* #profile2 {

        grid-area: pf2;

        margin: 0px;
        object-position: center;
        display: flex;
        flex-direction: column;
        padding: 0px 5px;

    } */

    /* #profile3 {

        grid-area: pf3;

        margin: 0px;
        object-position: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0px 5px; */

    }

    /* body{

        background-color: blanchedalmond;
        font-size: small;
        color: burlywood;
        height: auto;

    }  */
    /* .building_top{
      align-self: end;
      width: 100vw;
      height: auto;
    } */

    .menu-button{
        cursor: pointer;
        display: block;
    }
/*     
} */
    

